faiss-cpu==1.13.2
numpy==2.0.2
PyMuPDF==1.27.1
sentence-transformers==5.2.3
streamlit==1.55.0
torch==2.10.0+cu128
torchao==0.10.0
torchaudio==2.10.0+cu128
torchcodec==0.10.0+cu128
torchdata==0.11.0
torchsummary==1.5.1
torchtune==0.6.1
torchvision==0.25.0+cu128
transformers==5.0.0
